<div id="survey-card-<%= survey.id %>" class="survey-card card d-inline-block mb-3 me-3" style="width: 280px">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between align-items-center">
      <div>
        <%= link_to survey.name, survey_path(survey) %>
      </div>
      <%= survey_status_indicator(survey) %>
    </div>
    <div class="mb-2">
      <span class="badge bg-secondary">
        <%= survey_public_indicator(survey) %>
      </span>
        <%= link_to survey_data_path(survey) do %>
          <span class="badge bg-info" data-bs-title="View records" aria-label="View records" data-bs-toggle="tooltip">
            <%= pluralize survey.replies.count, "records" %>
          </span>
        <% end %>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= edit_survey_link(survey) %>
      <%= copy_survey_button(survey) %>
      <%= survey_share_dropdown(survey) %>
    </div>
    <% unless survey.public? %>
      <%= survey_open_indicator(survey) %>
    <% end %>
  </div>
</div>
