<div id="survey-card-<%= survey.id %>" class="survey-card card d-inline-block mb-3 me-3" style="width: 360px">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between align-items-center">
      <div>
        <%= link_to survey.name, survey_path(survey) %>
      </div>
      <%= survey_status_indicator(survey) %>
    </div>
    <div class="mb-2">
      <span class="badge bg-secondary">
        <%= survey_public_indicator(survey) %>
      </span>
      <span class="badge bg-info">
        <%= pluralize survey.replies.count, "records" %>
      </span>
    </div>
    <div class="mt-2">
      <div><small><%= survey_preview_link(survey) %></small></div>
      <div class="mt-1">
        <%= survey_data_link(survey) %>&nbsp;
        <%= survey_summary_link(survey) %>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= edit_survey_link(survey, include_label: true) %>
      <%= copy_survey_button(survey) %>
      <%= survey_share_dropdown(survey) %>
    </div>
    <% unless survey.public? %>
      <%= survey_open_indicator(survey) %>
    <% end %>
  </div>
</div>
