<div id="survey-<%= survey.id %>" class="survey-card card d-inline-block" style="width: 360px; margin: 7px">
  <div class="card-body">
    <div class="card-title">
      <%= survey.name %>
      <%= survey_status_indicator(survey) %>
    </div>
    <div class="mb-2">
      <span class="badge bg-info">
        <%= pluralize survey.replies.count, "reply" %>
      </span>
      <%= survey_public_indicator(survey) %>
    </div>
    <div class="d-flex justify-content-start">
      <div class="me-3">
        <small><%= survey_preview_link(survey) %></small>
      </div>
      <div>
        <%= survey_data_link(survey) %><br>
        <%= survey_stats_link(survey) %>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="btn-group btn-group-sm">
      <%= edit_survey_link(survey) %>
      <%= copy_survey_button(survey) %>
      <%= survey_share_dropdown(survey) %>
    </div>
    <%= delete_survey_button(survey) %>
    <%= survey_open_indicator(survey) %>
  </div>
</div>
