<h1><%= @reply.survey.name %></h1>

<%= form_for @reply do |form| %>
    <% @reply.questions.each do |question| %>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <%= question.text %>
                    <% if question.required? %>
                        <span class="text-muted">(required)</span>
                    <% end %>
                </h5>
                <%= fields_for "reply[answers_attributes][#{question.id}]", @reply.answers.build(survey_id: @reply.survey_id, question: question, question_type: question.question_type) do |answer_fields| %>
                    <%= answer_fields.hidden_field :reply_id %>
                    <%= answer_fields.hidden_field :survey_id %>
                    <%= answer_fields.hidden_field :question_id %>
                    <%= render "reply/#{question.question_type.ident}", { form: answer_fields, question: question } %>
                <% end %>
            </div>
        </div>
    <% end %>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
