<% if grid.not_ready_for_replies? %>
  <%= render 'shared/survey_no_questions', survey: grid.survey %>
<% elsif grid.no_data? %>
  <%= render 'shared/survey_no_replies', survey: grid.survey %>
<% else %>
  <%= render 'data_grid/tools', grid: grid %>

  <div class="data-grid table-responsive">
    <vaadin-grid>
      <% grid.questions.each do |question| %>
        <vaadin-grid-column header="<%= question.text %>" path="<%= question.form_name %>"></vaadin-grid-column>
      <% end %>
    </vaadin-grid>
    <script>
     const grid = document.querySelector('vaadin-grid');
     grid.items = <%== grid.records.map { |record| grid.questions.map { |q| [q.form_name, answers_text(record, q)] }.to_h }.to_json %>
    </script>
  </div>
<% end %>
