<% if grid.not_ready_for_replies? %>
  <%= render 'shared/survey_no_questions', survey: grid.survey %>
<% elsif grid.no_data? %>
  <%= render 'shared/survey_no_replies', survey: grid.survey %>
<% else %>
  <%= render 'data_grid/tools', grid: grid %>

  <div class="data-grid mb-5">
    <vaadin-grid column-reordering-allowed multi-sort>
      <% grid.questions.each do |question| %>
        <vaadin-grid-sort-column resizable auto-width header="<%= question.text %>" text-align="<%= question.type.dispatch(:get_text_alignment, context: self) %>" path="<%= question.form_name %>"></vaadin-grid-sort-column>
      <% end %>
      <span slot="empty-state">No data found.</span>
    </vaadin-grid>
    <script>
     const grid = document.querySelector('vaadin-grid');
     grid.size = <%= grid.record_count %>;
     grid.dataProvider = ({ page, pageSize }, callback) => {
       console.log({ page, pageSize });
       fetch(`<%= survey_data_path(grid.survey, format: :json) %>?page=${page}&items=${pageSize}`)
         .then((res) => res.json())
         .then((items) => callback(items.records));
     };
    </script>
  </div>
<% end %>
