<% if survey.not_ready_for_replies? %>
  <%= render 'shared/survey_no_questions', survey: survey %>
<% elsif survey.no_data? %>
  <%= render 'shared/survey_no_replies', survey: survey %>
<% else %>
  <%= render 'data_grid/tools', survey: survey %>

  <div class="data-grid table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <th>
        <div class="d-flex justify-content-start align-items-center">
          <%= column_sort_link(survey, :created_at, label: icon('fas', 'clock'), alt_label: 'Time Created') %>
          <%= date_field_tag :created_at, params[:created_at], class: 'form-control' %>
        </div>
      </th>
      <% survey.questions.each do |question| %>
        <th data-question-id="<%= question.id %>">
          <div class="d-flex justify-content-start align-items-center">
            <%= column_sort_link(survey, question, label: truncate(question.text), alt_label: question.text) %>
            <%= question_filter(question, params.dig(:filter_by, question.id)) %>
          </div>
        </th>
      <% end %>
      </thead>
      <tbody>
      <%= render 'data_grid/rows', survey: survey %>
      </tbody>
    </table>
  </div>
<% end %>