<%= render 'surveys/tabs', survey: survey, selected: :data %>

<div class="container-fluid">
  <div class="d-flex justify-content-end align-items-center mb-2">
    <div class="me-2 text-muted">
      <%= survey.pager.count %> records
    </div>
    <div class="dropdown">
      <a href="#" class="btn btn-sm btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= icon 'fas', 'file-export' %> Export
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to survey_data_path(survey, survey.params.merge(format: 'csv')), class: 'dropdown-item' do %>
            <%= icon 'fas', 'file' %> CSV
          <% end %>
        </li>
        <li>
          <%= link_to survey_data_path(survey, survey.params.merge(format: 'xlsx')), class: 'dropdown-item' do %>
            <%= icon 'fas', 'file-excel' %> Excel
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="data-grid table-responsive">
    <%= render 'data_grid/table', survey: survey %>
  </div>
</div>
