<h1><%= @response.form.name %></h1>

<%= form_for @response do |form| %>
    <% @response.fields.each_with_index do |field, index| %>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <%= field.text %>
                    <% if field.required? %>
                        <span class="text-muted">(required)</span>
                    <% end %>
                </h5>
                <%= fields_for "response[item_attributes][#{index}]", @response.items.build(form_id: @response.form_id, field: field, field_type: field.field_type) do |item_fields| %>
                    <%= item_fields.hidden_field :response_id %>
                    <%= item_fields.hidden_field :form_id %>
                    <%= item_fields.hidden_field :field_id %>
                    <%= item_fields.hidden_field :field_type_id %>
                    <%= render "responses/#{field.field_type.ident}", { form: item_fields, field: field } %>
                <% end %>
            </div>
        </div>
    <% end %>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
