<%= link_to 'Create survey', new_survey_path, class: 'btn btn-primary' %>

<div class="survey-listing d-flex flex-wrap">
    <% @surveys.each do |survey| %>
        <div class="survey-card card d-inline-block" style="width: 360px; margin: 7px">
            <div class="card-body">
                <div class="card-title">
                    <%= survey.name %>
                </div>
                <%= link_to 'Results', report_path(question_ids: survey.question_ids, name: survey.name) %>
                <%= link_to 'View', reply_to_path(survey.short_id, survey.slug) %>
                <%= link_to 'Summary', survey_stats_path(survey.short_id) %>
                <%= link_to 'Create', edit_survey_path(survey) %>
            </div>
        </div>
    <% end %>
</div>
