<div class="d-flex justify-content-between align-items-center border-bottom pb-3">
  <%= link_to root_path do %>
    <%= icon('fas', 'arrow-left') %> Back
  <% end %>
  <h4>Preview</h4>
  <div class="btn-group">
    <%= survey_preview_button(title: 'Desktop', width: 1280, height: 800) %>
    <%= survey_preview_button(title: 'Tablet', width: 810, height: 1080) %>
    <%= survey_preview_button(title: 'Mobile', width: 375, height: 812) %>
  </div>
</div>

<iframe
  id="preview-frame"
  width="1280"
  height="800"
  class="d-block mx-auto"
  src="<%= reply_to_path(survey.short_id, survey.slug, preview: true) %>">
</iframe>