<%= render 'survey_editor/tools', editor: %>
<%= render 'survey_editor/details', survey: editor.survey.edited %>

<div class="mb-3 d-flex justify-content-between align-items-center">
  <form action="." method="GET">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" name="removed" <%= 'checked' if params[:removed] %>>
    <label class="form-check-label" for="switchCheckDefault">Show removed questions</label>
  </div>
  </form>
  <form hx-post="<%= survey_editor_questions_path(editor.survey) %>" hx-target="#questions" hx-swap="outerHTML">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit" class="btn btn-dark">
      <%= icon 'fa-solid', 'plus' %>
      Add Question
    </button>
  </form>
</div>

<div id="questions">
  <%= render 'survey_editor/questions', editor: %>
</div>
