<%= render 'survey_editor/tools', editor: %>
<%= render 'survey_editor/details', survey: editor.survey.edited %>

<div class="mb-3 d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-dark btn-sm"
    hx-post="<%= survey_editor_questions_path(editor.survey) %>"
    hx-target="#questions"
    hx-select-oob="#tools">
    <%= icon 'fa-solid', 'plus' %>
    Add Question
  </button>
</div>

<div
  id="questions"
  class="sortable"
  hx-put="<%= survey_editor_display_order_path(editor.survey) %>"
  hx-trigger="end"
  hx-disinherit="*"
  hx-target="#questions"
  hx-select-oob="#tools"
  hx-include="[name='<%= field_name(:survey, :question, :id, multiple: true) %>']">
  <%= render 'survey_editor/questions', editor: %>
</div>
