<div class="card question mb-4 shadow-sm-hover<%= question.updated? ? ' border-warning' : '' %>" id="<%= dom_id question %>">
  <div class="sortable-grip text-muted text-center"><%= icon 'fas', 'grip-lines' %></div>
  <div class="card-body pt-0">
    <div class="card-title d-flex justify-content-between align-items-center">
      <div class="question-title w-100 d-flex me-1">
        <%= hidden_field_tag field_name(:survey, :question, :id, multiple: true), question.id %>
        <%= text_field_tag field_name(:survey, :question, :text),
                           question.text,
                           id: dom_id(question, :text),
                           title: "Enter question text",
                           class: 'h5 w-100 border-0 border-bottom',
                           'hx-put': survey_editor_question_path(editor.survey, question),
                           'hx-trigger': 'change',
                           'hx-target': "#editor",
                           'hx-swap': 'morph:innerHTML' %>
      </div>
      <div class="form-check form-switch mx-2">
        <input
          id="<%= dom_id(question, :required) %>"
          name="<%= field_name(:survey, :question, :required) %>"
          value="1"
          <% if question.required? %>
            checked
            hx-vals="<%= { field_name(:survey, :question, :required) => 0 }.to_json %>"
          <% end %>
          hx-put="<%= survey_editor_question_path(editor.survey, question) %>"
          hx-trigger="change"
          hx-target="#editor"
          hx-swap="morph:innerHTML"
          class="form-check-input"
          type="checkbox"
          role="switch">
        <label class="form-check-label" for="<%= dom_id(question, :required) %>">Required</label>
      </div>
      <%= select_tag field_name(:survey, :question, :type),
                     options_from_collection_for_select(editor.types, :slug, :name, question.type.slug),
                     id: dom_id(question, :type),
                     class: 'form-select w-25',
                     'hx-put': survey_editor_question_path(editor.survey, question),
                     'hx-trigger': 'input, change',
                     'hx-target': "#editor",
                     'hx-swap': 'morph:innerHTML' %>
      <button
        type="submit"
        title="Remove"
        class="btn btn-white text-muted"
        hx-delete="<%= survey_editor_question_path(editor.survey, question) %>"
        hx-target="#editor"
        hx-swap="morph:innerHTML">
        <%= icon 'fa-solid', 'xmark' %>
      </button>
    </div>
  </div>
</div>
