<div class="container">
    <h1 class="border-bottom">Stats for <small class="text-muted"><%= @report.name  %></small></h1>

    <div class="mt-5 pb-5 border-bottom">
        <h2>Replies By Day</h2>
        <%= line_chart @report.replies_by_date %>
    </div>

    <div class="mt-5 pb-5 border-bottom">
        <h2>Replies By Month</h2>
        <%= line_chart @report.replies_by_month %>
    </div>

    <div class="mt-5 pb-5 border-bottom">
        <h2>Replies By Day Of Week</h2>
        <%= line_chart @report.replies_by_weekday %>
    </div>

    <div class="mt-5 pb-5 border-bottom">
        <h2>Replies By Time Of Day</h2>
        <%= line_chart @report.replies_by_time_of_day %>
    </div>

    <% @report.fields.select(&:countable?).each do |field| %>
        <div class="mt-5 pb-5">
            <h2><%= field.text %></h2>
            <%= auto_chart @report.answer_occurrence(field) %>
        </div>
        <div class="pb-5">
            <%= data_table @report.answer_stats(field) %>
        </div>
    <% end %>
</div>
