<div class="d-flex">
    <h1><%= @report.name %></h1>
</div>

<div class="report-headers">
    <%= @pagy.count %> records
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <% @report.questions.each do |question| %>
                    <th class="text-nowrap"><%= question.text %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @replies.each do |reply| %>
                <tr>
                    <td><%= fmt_date(reply.created_at) %></td>
                    <% @report.questions.each do |question| %>
                        <td class="text-truncate" style="max-width: 150px" title="<%= answers_text(reply, question) %>">
                            <%= answers_text(reply, question) %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
