<div class="d-flex">
    <h1><%= @report.name %></h1>
</div>

<div class="report-headers">
    <%= @pagy.count %> records
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <% @report.fields.each do |field| %>
                    <th class="text-nowrap"><%= field.text %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @responses.each do |response| %>
                <tr>
                    <td class="text-nowrap text-muted"><%= fmt_datetime(response.created_at) %></td>
                    <% @report.fields.each do |field| %>
                        <td class="text-truncate" style="max-width: 150px" title="<%= items_text(response, field) %>">
                          <%= items_text(response, field) do %>
                            &mdash;
                          <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
