<!DOCTYPE html>
<html>
  <head>
    <title>Dragnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light mb-3">
        <div class="container-fluid">
            <a href="<%= root_path %>" class="navbar-brand mb-0 h1">Dragnet</a>
        </div>
    </nav>

    <main class="container-fluid">
        <%= yield %>
    </main>
  </body>
</html>
