<!DOCTYPE html>
<html>
  <head>
    <title>Dragnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <script>
      document.body.addEventListener('htmx:configRequest', (e) => {
        e.detail.parameters['authenticity_token'] = "<%= form_authenticity_token %>";
      });
    </script>
  </body>
</html>
