<!DOCTYPE html>
<html>
  <head>
    <title>Dragnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <script>
      // Initialize authenticity token for HTMX requests
      document.body.addEventListener('htmx:configRequest', (e) => {
        e.detail.parameters['authenticity_token'] = "<%= form_authenticity_token %>";
      });
      // Initialize drag-and-drop
      htmx.onLoad((content) => {
        let elements = content.querySelectorAll(".sortable");
        elements.forEach((element) => {
          let sortable = new Sortable(element, {
            animation: 150,
            ghostClass: 'bg-primary-subtle',
            handle: '.sortable-grip',

            // Make the `.htmx-indicator` unsortable
            filter: ".htmx-indicator",
            onMove: (e) => {
              return e.related.className.indexOf('htmx-indicator') === -1;
            },
            
            // Disable sorting on the `end` event
            onEnd: (e) => {
              sortable.option("disabled", true);
            }
          });

          // Re-enable sorting on the `htmx:afterSwap` event
          element.addEventListener("htmx:afterSwap", function() {
            sortable.option("disabled", false);
          });
        });
      });
    </script>
  </body>
</html>
